
<h1>Users</h1>

<%# <div id="users">
  <% @users.each do |user| %>
    <%# <%= render user %> 
    <%# <p> %>
      <%# <%= link_to "Show this user", user %> 
    <%# </p> %>
  <%# <% end %> 
<%# </div> %> 

<table class= "table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>DOB</th>
      <%# <th>Task</th> %>
      <th>Settings</th>
    </tr>
  </thead>
  <tbody>
  <%# <div id = "users"> %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.dob %></td>
    <%# <%= render user %> 
      <td>
      <%# <%= link_to "Show this user", user %>
      <%= link_to t('action.show_user'), user %>
      </td>
      </tr>
    <% end %>
  <%# </div> %>
  </tbody>
</table>
<br/>
<%= link_to "New user", new_user_path , class:"btn btn-secondary m-3" %>


<%= link_to "Export as Csv", users_path(format: :csv) ,class:"btn btn-success m-3"%>
<%= link_to "Export as Pdf", users_path(format: 'pdf'), class:"btn btn-success m-3" %>